<h1>Liste des tests <a href="/new">Créer un nouveau test?</a></h1>

<% unless @array.empty? %>
<table summary="Liste des urls testées"> 
	<thead> 
	<tr class="odd"> 
		<td class="column1"></td> 
    <%@array[0].values.each do |day|%>
      <th scope="col" abbr="1"><%=day%></th> 
    <%end%>	
    <th scope="col" abbr="Actions">Actions</th>
	</tr>	
</thead>   
	<tbody>
    <%  odd = 0
        (1..@array.count-1).each do |i| 
    %>
    <%if odd == 1%>
      <tr class="odd"> 
      <%odd = 0%>
    <%else%>
      <tr>
      <% odd = 1%>   
    <%end%>
		<th scope="row" class="column1"><a HREF="<%=h @array[i]["url"] %>"><%=h @array[i]["url"] %></th> 
      <%@array[0].keys.each do |day|%>
        <%archive = @array[i][day]%>
        <%if archive == nil%>
        <td><img src="construction.png" alt="pas de valeur!"></td>
        <%else%>
        <td><img src="ok.png"><%=archive.date%></td>
        <%end%>
      <%end%>
    <td><a href="/<%= @array[i]["id"]%>/delete" onclick="return confirm('Etes vous sûr - toutes les données seront perdues !');"> <img src="delete.png" alt="Effacer"></a> <a href="/<%= @array[i]["id"]%>/list"> <img src="view.png" alt="voir stats"></a></td>
  </tr>
  <% end %>
	</tbody> 
</table> 
<% else %>
Pas de test - <a href="/new">Créer un test?</a>
<% end %>

