<h2>Liste des tests <a href="/new">Créer un nouveau test?</a></h2>

<% unless @array.empty? %>
<div id="nicetable" >
<table summary="Liste des urls testées"> 
	<thead> 
	<tr class="odd"> 
		<td class="column1"></td> 
    <%@array[0].values.each do |day|%>
      <th scope="col" abbr="1"><%=day%></th> 
    <%end%>	
    <th scope="col" abbr="Actions">Actions</th>
	</tr>	
</thead>   
	<tbody>
    <%  odd = 0
        (1..@array.count-1).each do |i| 
    %>
        <%if odd == 1%>
          <tr class="odd"> 
          <%odd = 0%>
        <%else%>
          <tr>
          <% odd = 1%>   
        <%end%>
		    <th scope="row" class="column1"><a HREF="<%=h @array[i]["url"] %>"><%=h @array[i]["url"] %></th> 
          <%@array[0].keys.each do |day|%>
            <%archive = @array[i][day]%>
            <%if archive == nil%>
              <td><img src="construction.png" alt="pas de valeur!"></td>
            <%else%>
              <%if archive.uptime/archive.nbValues < 0.98%>
              <td><img src="nok.png" id="tip" tooltip="Max: <%=archive.max%> <br/>Min: <%=archive.min%> <br/>Moy: <%= "%.3f" % archive.mean%> <br/>Dispo: <%= "%.2f" % (archive.uptime/archive.nbValues*100)%>%"></td>
              <%elsif archive.mean > 1%>
                <td><A HREF="/<%= archive.id %>/view_archives"><img src="warning.png" id="tip" tooltip="Max: <%=archive.max%> <br/>Min: <%=archive.min%> <br/>Moy: <%= "%.3f" % archive.mean%> <br/>Dispo: <%= "%.2f" % (archive.uptime/archive.nbValues*100)%>%"></a></td>
              <%else%>
                <td><A HREF="/<%= archive.id %>/view_archives"><img src="ok.png" id="tip" tooltip="Max: <%=archive.max%> <br/>Min: <%=archive.min%> <br/>Moy: <%= "%.3f" % archive.mean%> <br/>Dispo: <%= "%.2f" % (archive.uptime/archive.nbValues*100)%>%"></A></td>
              <%end%>
            <%end%>
          <%end%>
    <td><a href="/<%= @array[i]["id"]%>/delete" onclick="return confirm('Etes vous sûr - toutes les données seront perdues !');"> <img src="delete.png" alt="Effacer"></a> </td>
  </tr>
  <% end %>
	</tbody> 
</table> 
</div>
<% else %>
Pas de test - <a href="/new">Créer un test?</a>
<% end %>

<script class="example" type="text/javascript"> 
// Create the tooltips only on document load
$(document).ready(function() 
{
   // Notice the use of the each() method to acquire access to each elements attributes
   $('img[tooltip]').each(function()
   {
      $(this).qtip({
         content: $(this).attr('tooltip'), // Use the tooltip attribute of the element for the content
         style: {
         name: 'cream',
         padding: '7px 13px',
         width: {
            max: 130,
            min: 0
         },
        tip: true
      }
      });
   });
});
</script> 
